:root {
    --black: #222;
    --white: #ffffff;
    --red: #de1e23;
    --green: #3aa335;
    --midnightblue: #191970;
    --magenta: #ff00ff;
    --yellow: #ffff00;
    --gold: #b47c4b;
    --aqua: #00ffff;
    --star: #f5b106;
    --cyan: #00ffff;
    --forestgreen: #228822;
    --moneygreen: #118c4f;
    --greenwich: #465b52;
    --greenyellow: #adff2f;
    --grey: #a4a6ad;
    --lime: #00ff00;
    --teal: rgba(0, 128, 128);
    --navy: rgba(0, 0, 128);
    --persiangreen: #00af8f;
    --crimson: #d44443;
    --brown: #800000;
    --blue: #1167b1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: var(--black);
}

h2 {
    font-size: 45px;
    line-height: 54px;
    color: var(--black);
}

h4 {
    font-size: 35px;
    color: var(--black);
}

h5 {
    font-size: 18px;
    font-weight: 700;
}

h6 {
    font-weight: 700;
    font-size: 20px;
}

p {
    font-size: 18px;
    color: var(--persiangreen);
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 20px;
    font-weight: 600;
    padding: 15px 30px;
    color: var(--black);
    background-color: var(--white);
    border-radius: 8px;
    cursor: pointer;
    bottom: none;
    outline: none;
    transition: 0.2s;
}

button.white {
    font-size: 18px;
    font-weight: 600;
    padding: 11px 18px;
    color: var(--aqua);
    background-color: transparent;
    border: 1px solid var(--aqua);
    cursor: pointer;
    outline: none;
    transition: 0.2s;
    border-radius: 8px;
}

body {
    width: 100%;
}


/* Header section*/

.logo {
    width: 10em;
    height: 4em;
    margin: 6px;
    border-radius: 5%;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: var(--white);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: var(--black);
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: var(--green);
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: " ";
    width: 30%;
    height: 2px;
    background: var(--green);
    position: absolute;
    bottom: -4px;
    left: 20px;
}


/* MAIN SECTION */

#main {
    background-image: url("image/cover.jpg");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 1% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#main h4 {
    padding-bottom: 15px;
}

#main h1 {
    color: var(--forestgreen);
}

#main button {
    background-image: url("image/button.png");
    background-color: transparent;
    color: var(--forestgreen);
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
}


/*FEATURE SECTION*/

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid var(--green);
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:nth-child(2) {
    border: 1px solid var(--crimson);
}

#feature .fe-box:nth-child(3) {
    border: 1px solid var(--persiangreen);
}

#feature .fe-box:nth-child(4) {
    border: 1px solid var(--blue);
}

#feature .fe-box:nth-child(5) {
    border: 1px solid var(--midnightblue);
}

#feature .fe-box:nth-child(6) {
    border: 1px solid var(--gold);
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px var(--green);
}

#feature .fe-box:hover:nth-child(2) {
    box-shadow: 10px 10px 54px var(--crimson);
}

#feature .fe-box:hover:nth-child(3) {
    box-shadow: 10px 10px 54px var(--persiangreen);
}

#feature .fe-box:hover:nth-child(4) {
    box-shadow: 10px 10px 54px var(--blue);
}

#feature .fe-box:hover:nth-child(5) {
    box-shadow: 10px 10px 54px var(--midnightblue);
}

#feature .fe-box:hover:nth-child(6) {
    box-shadow: 10px 10px 54px var(--gold);
}

#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: var(--white);
    background-color: var(--green);
}

#feature .fe-box:nth-child(2) h6 {
    background-color: var(--crimson);
}

#feature .fe-box:nth-child(3) h6 {
    background-color: var(--persiangreen);
}

#feature .fe-box:nth-child(4) h6 {
    background-color: var(--blue);
}

#feature .fe-box:nth-child(5) h6 {
    background-color: var(--midnightblue);
}

#feature .fe-box:nth-child(6) h6 {
    background-color: var(--gold);
}


/*FEATURED PRODUCTS SECTION*/

.section-p1 {
    text-align: center;
}

.section-p1 .product-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

.section-p1 .product {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid var(--persiangreen);
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 175, 143, 0.03);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

.section-p1 .product:hover {
    box-shadow: 20px 20px 30px rgba(0, 175, 143, 0.2);
}

.section-p1 .product img {
    width: 100%;
    border-radius: 20px;
}

.section-p1 .product .description {
    text-align: start;
    padding: 10px 0;
}

.section-p1 .product .description span {
    color: var(--forestgreen);
    font-size: 18px;
}

.section-p1.product .description h5 {
    padding-top: 7px;
    color: var(--black);
    font-size: 18px;
}

.section-p1 .product .description i {
    font-size: 12px;
    color: var(--star);
}

.section-p1 .product .description h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: var(--moneygreen);
}

.section-p1 .product .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: var(--white);
    font-weight: 500;
    color: var(--red);
    border: 1px solid var(--persiangreen);
    position: absolute;
    bottom: 20px;
    right: 10px;
}


/*Call to Action Section*/

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient( to bottom, rgba(225, 225, 228, 0.5), rgba(10, 10, 10, 0.9)), url("image/banner/banner3.jpg");
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: top 28% right 0;
}

#banner h4 {
    color: var(--aqua);
    font-size: 40px;
}

#banner h2 {
    color: var(--aqua);
    font-size: 60px;
    font-weight: 700;
    padding: 10px 0;
}

#banner span {
    color: var(--red);
}

button.banner-btn {
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    color: var(--black);
    background: var(--aqua);
    border-radius: 8px;
    cursor: pointer;
    bottom: none;
    outline: none;
    transition: 0.2s;
}

#banner button:hover {
    background-color: var(--black);
    color: var(--aqua);
}


/*Call to Action Banners*/

#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: flex-start;
    background-image: linear-gradient( to bottom, rgba(255, 255, 255, 0.09), rgba(164, 49, 34, 0.2)), url("image/banner/banner18.jpg");
    min-width: 740px;
    height: 58vh;
    background-size: cover;
    background-position: top 1% left 100%;
    padding: 30px;
    border-radius: 8px;
}

#sm-banner .banner-box2 {
    background-image: linear-gradient( to bottom, rgb(255, 255, 255, 0.4), rgba(164, 49, 34, 0.2)), url("image/banner/banner20.jpg");
}

#sm-banner h4 {
    color: var(--black);
    font-size: 40px;
    font-weight: 400;
}

#sm-banner h2 {
    color: var(--black);
    font-size: 45px;
    font-weight: 700;
}

#sm-banner span {
    color: var(--black);
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .banner-box:hover button {
    color: black;
    background-color: var(--aqua);
}


/*Text Banner Section */

#banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    background-image: linear-gradient( to bottom, rgba(255, 255, 255, 0), rgb(0, 0, 0)), url("image/banner/banner23.jpg");
    min-width: 30%;
    height: 35vh;
    background-position: top 15% left 100%;
    background-size: cover;
    background-position: cover;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

#banner3 .banner-box2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    background-image: linear-gradient( to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0)), url("image/banner/banner22.jpg");
    min-width: 30%;
    height: 35vh;
    background-position: top 38% left 100%;
    background-size: cover;
    background-position: cover;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

#banner3 .banner-box3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    background-image: linear-gradient( to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0)), url("image/banner/banner19.jpg");
    min-width: 30%;
    height: 35vh;
    background-position: top 15% left 100%;
    background-size: cover;
    background-position: cover;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

#banner3 h2 {
    color: var(--white);
    font-weight: 800;
    font-size: 30px;
}

#banner3 h3 {
    color: var(--red);
    font-weight: 900;
    font-size: 35px;
}


/*NewsLetter Section*/

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("image/banner/b14.png");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: var(--midnightblue);
}

#newsletter h4 {
    font-size: 25px;
    font-weight: 700;
    color: var(--white);
}

#newsletter p {
    font-size: 18px;
    font-weight: 600;
    color: var(--grey);
}

#newsletter p span {
    color: var(--greenyellow);
}

#newsletter .form {
    display: flex;
    width: 40%;
}

#newsletter input {
    height: 4rem;
    padding: 0 1.25em;
    font-size: 20px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 10px;
    outline: none;
}

#newsletter button {
    height: 4rem;
    background-color: var(--green);
    color: var(--white);
    white-space: nowrap;
}